<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <ul>
        <li>name: <%= @name %></li>
        <li>topic: <%= @title %></li>
        <li>message: <%= @message %></li>
      </ul>
    </div>
    <div>
      <a href="/posts/new">New Post</a>
    </div>
  </body>
</html>
