<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <ul>
        <div class="post-box">
          <% @posts.each do |post| %>
            <br>
            <p>name: <%= post.username %></p>
            <p>topic: <%= post.title %></p>
            <p>message: <%= post.message %></p>
            <br>
            <br>
          <% end %>
        </div>
      </ul>
    </div>
    <div>
      <a href="/posts/new">New Post</a>
    </div>
  </body>
</html>
